hostname = g-acs.m.goofish.com
//首页广告
^https:\/\/g-acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.home\.nextfresh\/ url script-response-body https://raw.githubusercontent.com/androidcn/userscripts/main/goofish.js
//搜索广告
^https:\/\/g-acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlemtopsearch\.search\/ url script-response-body https://raw.githubusercontent.com/androidcn/userscripts/main/goofishSearch.js
