hostname = g-acs.m.goofish.com
^https:\/\/g-acs\.m\.goofish\.com\/gw\/mtop\.taobao\.idlehome\.home\.nextfresh\/ url script-response-body https://raw.githubusercontent.com/androidcn/userscripts/main/goofish.js

